#picture1{
    width: 40%;
    height: 100%;
}

#slide_button{
    text-align: center;
}

#slide{
    height: 400px;
    width: 600px;
}

#flex{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

#map{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}


.main{
    margin-left : 20%;
    font-size: 1.8em;
}

.information{
    text-align: center;
}
.border{
    border: solid;
}


