.sidebar{
    position : absolute;
    top : 0;
    left : 0;
    bottom: 0;
    width : 20%;
    height: 370%;
    color : #000000;
    background-color : #a9ceec;
    font-size : 28px;
    font-weight : bold;
}

.main{
    margin-left : 20%;
}

#map{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

#slide_button{
    text-align: center;
}

.information{
    text-align: center;
}