img {
    max-width: 100%;
    max-height: 100%;
   }
.size_image{
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.print_side{
    display:flex;
    justify-content: space-around;
}
#slide_button {
    text-align: center;
}
#centerise{
    text-align: center;
}
#centerise2{
    text-align: center;
}
#centerise3{
    text-align: center;
}
.centerise{
    text-align: center;
}
.font_size{
    font-size: 28px 
}
.sidebar{
    position : absolute;
    top : 0;
    left : 0;
    width : 20%;
    color : #000000;
    background-color : #a9ceec;
    font-size : 24px;
    font-weight : bold;
    text-align : left
}
.main{
    margin-left : 20%;
    font-size: 1.8em;
}
.information{
    text-align: center;
}