.sidebar{
    position : absolute;
    top : 0;
    left : 0;
    bottom: 0;
    width : 20%;
    height: 550%;
    color : #000000;
    background-color : #a9ceec;
    font-size : 28px;
    font-weight : bold;
}

#picture1{
    width: 40%;
    height: 100%;
}

#slide_button{
    text-align: center;
}

#slide{
    height: 400px;
    width: 600px;
}

#flex{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

#map{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}


.main{
    margin-left : 20%;
    font-size: 1.8em;
}

.information{
    text-align: center;
}
.border{
    border: solid;
}


