img {
    max-width: 100%;
    max-height: 100%;
   }
.size_image{
    width: 40%;
    height: auto;
}
.print_side{
    display:flex;
    justify-content: space-around;
}
#sightseiin_hedder{
    position:absolute ; left:370px ; top:1135px ; 
}
#food_hedder{
    position:absolute ; left:370px ; top:1580px ; 
}
#place_hedder{
    position:absolute ; left:370px ; top:2020px ; 
}

#slide_button {
    text-align: center;
}
#centerise{
    text-align: center;
}
#centerise2{
    text-align: center;
}
#centerise3{
    text-align: center;
}
.centerise{
    text-align: center;
}
.font_size{
    font-size: 25px 
}
#tajima_place{
    position:absolute ; left:680px ; top:1200px ; 
}
#kari-_place{
    position:absolute ; left:680px ; top:1630px; 
}
#elephant_place{
    position:absolute ; left:680px ; top:2070px; 
}
.sidebar{
    position : absolute;
    top : 0;
    left : 0;
    width : 20%;
    color : #000000;
    background-color : #a9ceec;
    font-size : 24px;
    font-weight : bold;
    text-align : left
}
.main{
    margin-left : 20%;
    font-size: 1.8em;
}
.information{
    text-align: center;
}