.sidebar{
    position : absolute;
    top : 0;
    left : 0;
    bottom: 0;
    width : 20%;
    height: 100%;
    color : #000000;
    background-color : #a9ceec;
    font-size : 28px;
    font-weight : bold;
}

.main{
    margin-left : 20%;
    font-size: 1.8em;
}

.contents {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr max-content;
    grid-gap: 10px;
}

.country{
    height: 300px;
}

.information{
    text-align: center;
}
#h1{
    text-align: center;
}